

<%board = session[:board].game_board%>
<%if message == "TIE"%>
    <div id = "message_1">
        <%=message%>
        <form method = "post" action = "play_again">
        <input type = "submit" value = "play again?">
        </form>
    </div>
<%elsif message == ""%>

<%else%>
    <div id = "message_2">
        <%=message%>
        <form method = "post" action = "play_again">
        <input type = "submit" value = "play again?">
        </form>
    </div>
<%end%>
<div id = "big_box">

    <%count = 1%>
    <table id = "board">
    <%3.times do%>
            <tr>
        <%3.times do%>
            <td type = "submit" name = "choice" value = '<%="#{count}"%>'>
                <%if board["#{count}"] == "#{count}"%>
                    <div id =<%="box_" + "#{count}"%> type = "button" name = "choice" value = '<%="#{count}"%>' onclick = "update(<%='#{count}'%>)">
                    <%=board["#{count}"]%>
                    </div>
            
            <%else%>
        
                    <div id = <%="box_" + "#{count}"%> class = <%=board["#{count}"]%>>
                        <div id = "hidden">
                        <%=board["#{count}"]%>
                        </div>
                    </div>
                
            <%end%>
            </td>
            <% if count%3 == 0%>
            </tr>
            <%end%>
            <%count += 1%>
        <%end%>
    <%end%>
    </table>
</div>

<div id = "key_box">
<form id="form_id" method = "post" action = "game">
    <input type = "hidden" name = "message" value =  '<%=message%>'>
<%count = 1%>
<%9.times do%>
    <%if board["#{count}"] == "#{count}"%>
        <button name = "choice" type = "submit" value = "<%=count%>"><%=count%></button>
    <%else%>
        <%=count%>
    <%end%>
    <%if count%3 == 0%>
    <br>
    <%end%>
    <%count += 1%>
<%end%>
</form>
</div>


<div id = "outcome">
<table>
<th>Player 1</th>
<th>Player 2</th>
<th>outcome</th>
<th>Date</th>
<%outcome.each do |set|%>
<tr >
    <%set.each do |item|%>
    <td id = "item"><%=item%></td>
    <%end%>
</tr>
<%end%>
</table>
<div>

<script src = "/js/functions.js">

</sctipt>

