Tic Tac Toe<br>

<%board = session[:board].game_board%>
    <div id = "message">
    <%=message%>
    </div>
<div id = "big_box">

    <%count = 1%>
    <%9.times do%>
        <%if board["#{count}"] == "#{count}"%>
            <div id =<%="box_" + "#{count}"%>>
            <%=board["#{count}"]%>
            </div>
        <%else%>
            <div id = <%="box_" + "#{count}"%> class = <%=board["#{count}"]%>>
                <div id = "hidden">
                <%=board["#{count}"]%>
                </div>
            </div>
        <%end%>
        <%count += 1%>
    <%end%>
</div>

<div id = "key_box">
<form id="form_id" method = "post" action = "game">

<%count = 1%>
<%9.times do%>
    <%if board["#{count}"] == "#{count}"%>
        <button name = "choice" type = "submit" value = "<%=count%>"><%=count%></button>
    <%else%>
        <button></button>
    <%end%>
    <%if count%3 == 0%>
    <br>
    <%end%>
    <%count += 1%>
<%end%>
</form>
<div>


